/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/path-to-your-project/src/assets/fonts/BricolageGrotesque-Regular.woff2') format('woff2'),
       url('/path-to-your-project/src/assets/fonts/BricolageGrotesque-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/path-to-your-project/src/assets/fonts/HelveticaNeue-Regular.woff2') format('woff2'),
       url('/path-to-your-project/src/assets/fonts/HelveticaNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

body {
  font-family: 'Helvetica Neue';
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Bricolage Grotesque';
  color: #222222;
}
p{
  color: #737373;
}


